In [5]:
#Just a first script.
miles = 26.2
miles * 1.61
#In the book it says that the cell doesn't display the result, but it seems it does! :) 
#(Maybe it didn't before but it does now)

42.182

In [7]:
miles = 26.2
print(miles*1.61)

42.182

In [11]:
5
x = 5
x + 1

6

In [13]:
print(5)
x = 5
print(x + 1)
#It looks like without the print (in the previous cell), it still prints the result, but only the final one.
#Here it displays each of the prints.

5
6

In [48]:
#Exercise 2.1
# 42 = n gives a syntax error (the name of the variable begins with a number)
x = y = 1 #it doesn't give any errors. Just assign 1 to both variables x and y.
print(x)
print(y)

z = 2; #putting a semicolon doesn't affect anything
w = 3
print(z)
print(w)

a = 27. #putting a period after an integer makes it a float type.
print(a)
type(a)

a == 27. #putting a period after a boolean statement doesn't seem to affect anything

#print(a == 31). #but after a print statement, it gives a syntax error. Better be careful then!

#xy Typing just xy yields a NameError: xy is not defined. That makes sense! 
#Python thinks xy is the name of a variable, as it naturally does with other names of variables.

1
1
2
3
27.0

True

In [6]:
# Exercise 2.2

#1.
pi = 3.1415 #Remember to use period instead of commas, when referring to float numbers
r = 5
V = '%.4f'%((4/3)*pi*r**3)
print ("The volume of the sphere is {}... cubic units.".format(V))

#------------------------------------------------------------
#2.
cp = 24.95 #cover price
bd = -0.4 #bookstores discount
n = 60 #number of copies
shp = 3+0.75*(n-1) #shipping price

t = '%.2f'%(shp+n*(cp+bd*cp)) #total cost for n copies
print("The total cost is ${}.".format(t))

#------------------------------------------------------------
#3. This one is written a bit weird, but I guess I've got it.
#first, we switch all the time units involved into a same unit, minutes, for example
lvt = 6*60+52 #leaving time in minutes
ep = 8+15/60 #easy pace in minutes per mile (8min + 15sec)/mile
tmp = 7+12/60 #tempo, in minutes per mile
elpst = 1*ep+3*tmp+1*ep #elapsed time after running, in minutes ((minutes/mile)*mile = minutes)
art = lvt+elpst #arriving time in minutes 
hour = int(art/60) #the hour on the clock at the arriving time
mnts = int(art-hour*60) #the minutes on the clock at the arriving time
scnds = int((art-hour*60 -mnts)*60)
print("You will get home at {}h{}m{}s am".format(hour,mnts,scnds))

The volume of the sphere is 523.5833... cubic units.
The total cost is $945.45.
You will get home at 7h30m6s am